# Environment variables
.env
*.env

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE specific
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache/

# Build
target/
build/
bin/

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

# Application specific
*.db
*.sql
*.sqlite

# Render
.render/

# Maven wrapper
.mvn/wrapper/maven-wrapper.properties
